:root {
  --border-radius: 0.5rem;
  --grid-gap: 1vw;
  --padding: var(--grid-gap);
  --bg: rgb(40, 44, 52);
  --alert: rgb(255, 0, 0);
  --warning: rgb(126, 0, 0);
  --alert-bg: rgb(178, 0, 0);
  --text-color: rgb(229, 229, 229);
  --tk-color: rgb(69, 76, 90);
  --tk-control: rgb(29, 32, 39);
  --tk-hover: hsla(190, 100%, 42%, 1);
  --tk-active: hsla(201, 100%, 36%, 1);
}
body {
  display: grid;
  place-items: center;
}
html {
  color: var(--text-color);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  background-color: var(--bg);
}
::-webkit-scrollbar {
  width: 8px;
  transition: 0.4s;
}

::-webkit-scrollbar-thumb {
  background: var(--tk-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: var(--tk-control);
  border-radius: 2px;
}
.root {
  min-width: 60%;
  max-width: 99%;
}
section {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr auto;
}
.task_list {
  display: grid;
  gap: var(--grid-gap);
}
.task_item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 0.2fr 0.2fr;
}
/* Unset default vars  */
button,
input {
  all: unset;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: none;
}

/* Component Styles  */
button {
  cursor: pointer;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--tk-control);
  text-align: center;
}
button:hover {
  border: 0.2rem solid var(--tk-hover);
}
button:active {
  border: 0.2rem solid var(--tk-active);
}
input {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--tk-color);
}
input:hover {
  border: 0.2rem solid var(--tk-hover);
}
input:focus,
input:active {
  border: 0.2rem solid var(--tk-active);
}
.task_item {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--tk-color);
}
.task_text {
  padding-left: var(--padding);
  display: flex;
  align-items: center;
  font-weight: 600;
}

/* Alert */
.error_pane {
  display: grid;
  gap: var(--grid-gap);
  position: absolute;
  top: 40vh;
  bottom: auto;
  /* TODO: Add a Backdrop Blur */
}
.dialog {
  width: fit-content;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--tk-color);
  text-align: center;
}
.dialog:hover {
  border: 0.2rem solid var(--tk-hover);
}
.dialog > span {
  float: left;
  padding: 0.1rem;
}
.dialog > div {
  width: 10px;
  height: 10px;
  margin: 0.1rem 0 0 0.3rem;
  padding: 0.1rem;
  float: right;
  cursor: pointer;
  border-radius: 0.4rem;
  background-color: var(--tk-control);
  border: 0.2rem solid var(--tk-color);
}
.dialog > div:hover {
  border: 0.2rem solid var(--alert);
  background-color: var(--alert-bg);
}
.dialog > div:active {
  border: 0.2rem solid var(--warning);
}
@media screen and (min-width: 480px) {
  .error_pane {
    position: absolute;
    right: auto;
    left: 0.5vw;
    top: auto;
    bottom: 1vh;
  }
}
