/* Unset default vars  */
button,
input {
  all: unset;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: none;
}

/* Component Styles  */
button {
  cursor: pointer;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--tk-control);
  text-align: center;
}
button:hover {
  border: 0.2rem solid var(--tk-hover);
}
button:active {
  border: 0.2rem solid var(--tk-active);
}
input {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--tk-color);
}
input:hover {
  border: 0.2rem solid var(--tk-hover);
}
input:focus,
input:active {
  border: 0.2rem solid var(--tk-active);
}
.task_item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--tk-color);
}
.task_text {
  padding-left: var(--padding);
  display: flex;
  align-items: center;
  font-weight: 600;
}

/* Alert */
.error_pane {
  display: grid;
  gap: var(--grid-gap);
  position: absolute;
  top: 40vh;
  bottom: auto;
  /* TODO: Add a Backdrop Blur */
}
.warning {
  width: fit-content;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--tk-color);
  text-align: center;
  transition: 0.5s;
}
.warning:hover {
  border: 0.2rem solid var(--tk-hover);
}
.warning > span {
  float: left;
  padding: 0.1rem;
}
.warning > div {
  width: 10px;
  height: 10px;
  margin: 0.1rem 0 0 0.3rem;
  padding: 0.1rem;
  float: right;
  cursor: pointer;
  border-radius: 0.4rem;
  background-color: var(--tk-control);
  border: 0.2rem solid var(--tk-color);
}
.warning > div:hover {
  border: 0.2rem solid var(--alert);
  background-color: var(--alert-bg);
}
.warning > div:active {
  border: 0.2rem solid var(--warning);
}
@media screen and (min-width: 480px) {
  .error_pane {
    position: absolute;
    right: auto;
    left: 0.5vw;
    top: auto;
    bottom: 1vh;
  }
}