@import 'components.css';
@import 'layout.css';
:root {
  --border-radius: 0.5rem;
  --grid-gap: 1vw;
  --padding: var(--grid-gap);
  --bg: rgb(40, 44, 52);
  --alert: rgb(255, 0, 0);
  --warning: rgb(126, 0, 0);
  --alert-bg: rgb(178, 0, 0);
  --text-color: rgb(229, 229, 229);
  --tk-color: rgb(69, 76, 90);
  --tk-control: rgb(29, 32, 39);
  --tk-hover: hsla(190, 100%, 42%, 1);
  --tk-active: hsla(201, 100%, 36%, 1);
}